<h2> Welcome <%= @user.username %>  </h2>

    <div id="topics">
      <h3> Topics created by you! </h3>
      <% @topics.each do |topic|  %>
      <p><%= link_to "Delete topic", topic, method: :delete, class: "btn btn-danger btn-xs" %></p>
      <p><%= link_to topic.title, topic.title %></p>
      <% end %>
    </div>


      <div id="bookmarks">
        <h4>Bookmarks created by you!</h4>
      <% @user.bookmarks.each do |bookmark| %>
      <p><%= link_to bookmark.url, bookmark.url %></p>

      <% end %>
    </div>

    <div id="liked_bookmarks">
      <h3>my favorite bookmarks</h3>
      <p><% @liked_bookmarks.each do |bookmark| %></p>

        <%= render partial: 'bookmarks/bookmark', locals: { bookmark: bookmark} %>
      <% end %>

    </div>


  <div class="footer">
    <h4>See what other people are interested in</h4>
  <%= link_to "Go to topics", root_path, method: :get, class: "btn btn-info" %>
  </div>
